
.read-more{
  padding-top: 30px;
}

#views {
  color: var(--bs-lowbrown);
}
#heart {
  padding-left: 200px;
  color: pink;
}

.card-img-top{
  height: 230px;
}

.grid {
  padding: 25px 0px;
}

.card {
  height: 500px;
}






















/* .container__articles{
    margin-top: 30px;
  
    @media(min-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  } */
  