.form-control {
  border-color: var(--bs-blush);
}

a {
  color: var(--bs-blush);
}

i {
  color: var(--bs-blush);
}

button:hover {
  color: var(--bs-blush);
}

#button-addon2{
  border: none;
}

.search{
  padding-right: 10px;
}

.tabs{
  padding-right: 10px;
}